.controls {
    padding-top: 25px;
    width: 190px;
    height: 30px;
    margin: auto;
    
    &> div {
        position: relative;
        border: 1px solid black;
        cursor: pointer;
        width: 25px;
        height: 25px;
        float: left;
        margin-right: 5px;
        
        &:after,
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            content: '';
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    .step-backward {
        &:after {
            width: 3px;
            height: 17px;
            background-color: black;
            left: 25%;
        }
        
        &:before {
            left: 65%;
            border-right: 10px solid black;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }
    
    .play:before {
        border-left: 10px solid black;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    
    .pause:before {
        width: 3px;
        height: 17px;
        border-left: 3px solid black;
        border-right: 3px solid black;
    }
    
    .reset:before {
        width: 15px;
        height: 15px;
        background-color: black;
    }
    
    .step-forward {
        &:after {
            width: 3px;
            height: 17px;
            background-color: black;
            left: 80%;
        }
        
        &:before {
            left: 40%;
            border-left: 10px solid black;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }
    
    .fullscreen:before {
        content: 'FS';
    }
    
    &> .fas,
    &> .fa {
        &.play:before {
            border: 0 none;
        }
    
        &.pause:before {
            width: auto;
            height: auto;
            border: 0 none;
        }
    
        &.reset:before {
            width: auto;
            height: auto;
        }
    
        &.step-backward,
        &.step-forward {
            &:after {
                background-color: transparent;
            }

            &:before {
                left: 50%;
                border: 0 none;
            }
        }
        
        &.fa-step-backward:before {
            content: '\f048';
        }
        
        &.fa-play:before {
            content: '\f04b';
        }
        
        &.fa-pause:before {
            content: '\f04c';
        }
        
        &.fa-stop:before {
            content: '\f04d';
        }
        
        &.fa-step-forward:before {
            content: '\f051';
        }
        
        &.fa-expand:before {
            content: '\f065';
        }
    }
}