.jca-ratios(@names; @values; @index) when (@index > 0) {
    .jca-ratios(@names; @values; (@index - 1)); // decrement.
    @name  : extract(@names, @index);
    @ratio : extract(@values, @index);

    &.jca-ratio-@{name}::before {
        padding-top: @ratio;
    }
}

.jca-transitions(@transition-enable) when (@transition-enable = 1) {
    *, *:before, *:after {
        transition: @jca-transition;
        -o-transition: @jca-transition;
        -ms-transition: @jca-transition;
        -webkit-transition: @jca-transition;
    }
}