.controls {
    width: 190px;
    height: 30px;
    padding: 25px 0 0 0;
    margin: auto;
    
    &> div {
        position: relative;
        border: $jca-controls-box;
        cursor: pointer;
        width: $jca-controls-box-width;
        height: $jca-controls-box-height;
        float: left;
        margin-right: $jca-controls-box-margin;
        
        &:after,
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            content: '';
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    .backward {
        &:after {
            width: 3px;
            height: 17px;
            background-color: $jca-controls-color;
            left: 25%;
        }
        
        &:before {
            left: 65%;
            border-right: 10px solid $jca-controls-color;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }
    
    .play:before {
        border-left: 10px solid $jca-controls-color;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }
    
    .pause:before {
        width: 3px;
        height: 17px;
        border-left: 3px solid $jca-controls-color;
        border-right: 3px solid $jca-controls-color;
    }
    
    .reset:before {
        width: 15px;
        height: 15px;
        background-color: $jca-controls-color;
    }
    
    .forward {
        &:after {
            width: 3px;
            height: 17px;
            background-color: $jca-controls-color;
            left: 80%;
        }
        
        &:before {
            left: 40%;
            border-left: 10px solid $jca-controls-color;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }
    }
    
    .fullscreen:before {
        content: 'FS';
    }
    
    &> .fas,
    &> .fa {
        &.play:before {
            border: 0 none;
        }
    
        &.pause:before {
            width: auto;
            height: auto;
            border: 0 none;
        }
    
        &.reset:before {
            width: auto;
            height: auto;
        }
    
        &.backward,
        &.forward {
            &:after {
                background-color: transparent;
            }

            &:before {
                left: 50%;
                border: 0 none;
            }
        }
        
        &.fa-step-backward:before {
            content: $jca-step-backward;
        }
        
        &.fa-play:before {
            content: $jca-play;
        }
        
        &.fa-pause:before {
            content: $jca-pause;
        }
        
        &.fa-stop:before {
            content: $jca-stop;
        }
        
        &.fa-step-forward:before {
            content: $jca-step-forward;
        }
        
        &.fa-expand:before {
            content: $jca-expand;
        }
    }
}