.jca-editor {
    display: flex;
    flex-direction: row;
    
    *, ::after, ::before {
        box-sizing: border-box;
    }
    
    .jca-col {
        flex: 33% 0 0;
        max-width: 33%;
        padding: 0 15px;
    }
    
    .jca-cord-dimension {
        padding: 30px 15px;
        
        [type="number"] {
            width: 40px;
            position: absolute;
            
            &[name="jca_top"] {
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &[name="jca_left"] {
                top: 50%;
                left: -20px;
                transform: translateY(-50%);
            }
            
            &[name="jca_width"] {
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &[name="jca_height"] {
                top: 50%;
                right: -20px;
                transform: translateY(-50%);
            }
        }
        
        .jca-label {
            position: absolute;
            height: 0;
            width: 40px;
            
            &:before {
                font-size: 1rem;
            }
            
            &.jca-top {
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
                
                &:before {
                    content: 'top';
                }
            }
            
            &.jca-left {
                left: -50px;
                top: 50%;
                height: 20px;
                transform: translateY(-50%);
                
                &:before {
                    content: 'left';
                }
            }
            
            &.jca-width {
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                
                &:before {
                    content: 'width';
                }
            }
            
            &.jca-height {
                right: -65px;
                top: 50%;
                height: 20px;
                transform: translateY(-50%);
                
                &:before {
                    content: 'height';
                }
            }
        }
        
        .jca-box {
            position: relative;
            width: 75px;
            height: 75px;
            border: 1px solid black;
            margin: auto;
            
            &:before {
                content: '%';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
}

