.jca-editor {
    position: fixed;
    color: grey;
    background-color: #212121;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 5;
    
    *, ::after, ::before {
        box-sizing: border-box;
    }
    
    & ~ *:last-child {
        margin-bottom: 175px;
    }
    
    .jca-container {
        display: flex;
        flex-direction: row;
        max-width: 1200px;
        margin: auto;
    }
    
    .jca-col {
        flex: 25% 0 0;
        max-width: 25%;
        padding: 5px 15px;
    }
    
    .jca-cord-dimension {
        padding: 30px 15px;
        
        [type="number"] {
            width: 55px;
            position: absolute;
            
            &[name="jca_top"] {
                top: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &[name="jca_left"] {
                top: 45%;
                left: -30px;
            }
            
            &[name="jca_width"] {
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &[name="jca_height"] {
                top: 45%;
                right: -30px;
            }
        }
        
        .jca-label {
            position: absolute;
            height: 0;
            width: 55px;
            text-align: center;
            
            &:before {
                content: attr(data-label);
                font-size: 1rem;
            }
            
            &.jca-top {
                top: -30px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &.jca-left {
                left: -30px;
                top: 15%;
                height: 20px;
            }
            
            &.jca-width {
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
            }
            
            &.jca-height {
                right: -30px;
                top: 15%;
                height: 20px;
            }
        }
        
        .jca-box {
            position: relative;
            width: 75px;
            height: 75px;
            border: 1px solid grey;
            margin: auto;
            
            &:before {
                content: '%';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    
    .jca-selector-breadcrumb {
        a {
            color: grey;
            text-decoration: underline;
        }
        
        span:last-child {
            display: none;
        }
    }
    
    #jca-html {
        overflow: hidden;
        white-space: nowrap;
    }
}