[class*="jca-ratio-"] {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    
    .ui-draggable {
        cursor: move;
    }
    
    @if $jca-transition == 1 {
        *:not(.ui-draggable-dragging), *:before, *:after {
            transition: $jca-transition-setting;
            -o-transition: $jca-transition-setting;
            -ms-transition: $jca-transition-setting;
            -moz-transition: $jca-transition-setting;
            -webkit-transition: $jca-transition-setting;
        }
    }
    
    &:before {
        display: block;
        content: "";
    }
    
    @each $ratio, $value in $jca-ratios {
        &.jca-ratio-#{$ratio}::before {
            padding-top: $value;
        }
    }
}

:fullscreen [class*="canvas-ratio-"], 
:-ms-fullscreen [class*="canvas-ratio-"],
:-moz-full-screen [class*="canvas-ratio-"], 
:-webkit-fullscreen [class*="canvas-ratio-"] {
    width: auto!important;
    max-width: none!important;
}