[class*="canvas-ratio-"] {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    
    *, *:before, *:after {
        transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
    }
    
    &:before {
        display: block;
        content: "";
    }

    &.canvas-ratio-21by9::before {
        padding-top: percentage(9 / 21);
    }

    &.canvas-ratio-16by9::before {
        padding-top: percentage(9 / 16);
    }

    &.canvas-ratio-4by3::before {
        padding-top: percentage(3 / 4);
    }

    &.canvas-ratio-2by1::before {
        padding-top: percentage(1 / 2);
    }

    &.canvas-ratio-1by1::before {
        padding-top: percentage(1 / 1);
    }
}

:fullscreen [class*="canvas-ratio-"], 
:-ms-fullscreen [class*="canvas-ratio-"],
:-moz-full-screen [class*="canvas-ratio-"], 
:-webkit-fullscreen [class*="canvas-ratio-"] {
    width: auto!important;
    max-width: none!important;
}