[class*="jca-ratio-"] {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    
    .ui-draggable {
        cursor: move;
    }
    
    @if $jca-transition-enable == 1 {
        *, *:before, *:after {
            transition: $jca-transition;
            -o-transition: $jca-transition;
            -ms-transition: $jca-transition;
            -moz-transition: $jca-transition;
            -webkit-transition: $jca-transition;
        }
    }
    
    .ui-draggable-dragging {
        transition: none !important;
        -o-transition: none !important;
        -ms-transition: none !important;
        -moz-transition: none !important;
        -webkit-transition: none !important;
    }
    
    &:before {
        display: block;
        content: "";
    }
    
    @each $ratio, $value in $jca-ratios {
        &.jca-ratio-#{$ratio}::before {
            padding-top: $value;
        }
    }
}

:fullscreen [class*="canvas-ratio-"], 
:-ms-fullscreen [class*="canvas-ratio-"],
:-moz-full-screen [class*="canvas-ratio-"], 
:-webkit-fullscreen [class*="canvas-ratio-"] {
    width: auto!important;
    max-width: none!important;
}