// controls
$jca-controls-size: 1 !default; // size multiplicator
$jca-controls-color: black !default; // font color
$jca-controls-icon-color: $jca-controls-color !default; // icon/font color
$jca-controls-padding: 25px 0 0 0 !default;

$jca-controls-box-border: 1px solid $jca-controls-color !default;
$jca-controls-box-border-radius: 0 !default;
$jca-controls-box-background: transparent !default;
$jca-controls-box-margin: 5px !default;

// transition
$jca-transition: 1 !default; // 1 = active
$jca-transition-setting: all 0.5s ease !default;

// available ratios
$jca-ratios: (
  '21by9': percentage(9 / 21),
  '16by9': percentage(9 / 16),
  '4by3': percentage(3 / 4),
  '2by1': percentage(1 / 2),
  '1by1': percentage(1 / 1),
) !default;
